.news {
    margin: 20px 200px;
    &__item {
        animation-duration: 0.3s;
        animation-name: slideIn;
        display: flex;
        margin-top: 10px;
        justify-content: center;
        padding: 50px;
        margin-top: 20px;
        margin-bottom: 20px;
        flex-direction: column;
        border-radius: 40px;
        height: 250px;
        background-color: rgba(255, 255, 255, 0.825);
        border: 1px solid rgb(255, 196, 196);
        box-shadow: 0 0 10px 0 rgb(255, 196, 196);
        &:hover {
            transform: translateY(-2px);
        }
        &__text {
            display: flex;
            flex-direction: column;
            margin-top: 10px;
        }
        b {
            font-size: 20px;
        }
    }
    &__inside {
        margin-top: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        &__date {
            -ms-flex-align: start;
            font-size: 15px;
            width: 40%;
        }
        &__btn {
            display: flex;
            -ms-flex-align: end;
            width: 10%;
            flex-direction: row;
        }
    }
    .btn:hover {
        transform: translateY(-5px);
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}