.news {
    margin: 10px 100px;
    &__item {
        animation-duration: 0.3s;
        animation-name: slideIn;
        display: flex;
        margin-top: 10px;
        padding: 40px;
        flex-direction: column;
        justify-content: center;
        border-radius: 20px;
        align-items: center;
        height: 200px;
        background-color: rgba(31, 172, 228, 0.825);
        border: 1px solid black;
    }
    &__date {
        flex-basis: 70%;
    }
    &__inside {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
    }
    .btn:hover {
        transform: translateY(-5px);
    }
}

@keyframes slideIn {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}