@import url('https://fonts.googleapis.com/css2?family=Titan+One&display=swap');
html,
body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    background-color: #f5f5f5;
    scroll-behavior: smooth;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.pages {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.bet {
    display: flex;
    align-items: center;
    margin-left: 3px;
    margin-right: 10px;
}

.betRight {
    margin-left: 3px;
    margin-right: 10px;
}

@media screen and (max-width: 720px) {
    img {
        display: none;
    }
    .main {
        width: 100%;
    }
}

.crd {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 700px;
    height: 750px;
    background-color: white;
    border-radius: 40px;
    padding: 60px;
    margin-top: 20px;
    box-shadow: 0 0 100px rgba(255, 118, 118, 0.5);
}

.first {
    height: 900px;
}

.passive {
    height: 1000px;
}

.one {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img {
    border: 1px solid black;
    border-radius: 30px;
    width: 300px;
    height: 200px;
    margin: 20px;
    background-color: white;
}

.speaker {
    display: flex;
    margin-left: 100px;
    align-items: center;
}

.richardRight {
    display: flex;
    flex-wrap: wrap;
    flex-basis: auto;
    width: 100%;
    padding: 1rem;
    img {
        width: 200px;
        height: 200px;
        margin-left: 100px;
        margin: 10px 40px;
        border-radius: 30px;
        object-fit: cover;
    }
}

.insidePaper {
    display: flex;
    align-items: center;
    img {
        width: 70px;
        padding: 10px;
        height: 70px;
        background-color: white;
        border-radius: 30px;
        margin: 15px;
    }
}

.come {
    margin-left: 100px;
    display: flex;
    .comeLeft {
        width: 50%;
        height: 100%;
        padding: 1rem;
    }
}

.final {
    margin-top: 100px;
    width: 100%;
    height: 600px;
    background-color: #3E58E8;
    display: flex;
    .prev {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        width: 50%;
    }
    .imgFinal {
        width: 400px;
        height: 200px;
        margin: auto;
    }
    .finalLeft {
        display: flex;
        align-items: center;
        h1 {
            background-color: #a787f8;
            border-radius: 60%;
            padding: 50px;
            display: flex;
            align-items: center;
        }
    }
    .right {
        width: 50%;
        p {
            color: white;
        }
        h3 {
            color: white;
        }
        h1 {
            color: white;
        }
        div {
            display: inline-block;
            border-radius: 20px;
            border: 1px solid white;
            background-color: white;
            padding: 10px;
            color: blue
        }
    }
}

.now {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 40px;
    height: 250px;
    margin-left: 350px;
    margin-right: 300px;
    margin-bottom: 60px;
    h1 {
        color: white;
    }
    p {
        color: white;
    }
    .nowLeft {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 1rem;
        align-items: center;
        justify-content: center;
        p {
            display: flex;
            align-items: center;
        }
    }
}

@media screen and (max-width: 1000px) {
    .now {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        .nowLeft {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
    }
}

.almaty {
    display: flex;
    margin-left: 200px;
    align-items: center;
    p {
        margin-left: 10px;
    }
}

.footer {
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}

.divider {
    margin: 40px;
    display: flex;
    justify-content: center;
}

.modalIn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputFile {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 10px;
}

.telegram:hover {
    transform: translate( 4px);
}

.headerY:hover {
    transform: translateY(-1px);
    font-size: 18px;
}

.small {
    width: 50px;
}

.table {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}